@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Russo+One&display=swap');

:root {
    --pri-color: #e8a400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Pre-defined Classes */

.disp-f {
    display: flex;
    align-items: center;
    justify-content: center;
}

i[class*='fa'],
i[class*='bi'],
i[class*='bx'] {
    font-size: 1.3rem;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.col-8 {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.a, .btn, a {
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
}

.a {
    color: inherit;
    text-decoration: none;
}

.link {
    color: var(--pri-color);
    text-decoration: underline;
}

.txt-center {
    text-align: center;
    width: 100%;
}

.ibtn {
    --xy: 1.8758rem;
    font-size: 1rem;
    line-height: 1.25rem;
    height: var(--xy);
    width: var(--xy);
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    background: #fff;
}

.ibtn > :is(i, svg) {
    font-size: inherit;
    line-height: inherit;
}

.logo {
    font-size: 1.875rem;
    color: var(--pri-color);
    font-family: 'Russo One', sans-serif;
}

/** Styles Start **/

body {
    min-height: 100vh;
    font-size: 16px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

header {
    position: fixed;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,.1);
    box-shadow: 1px 2px 3px rgba(0,0,0,.1);
    z-index: 50;
}

header .hdr {
    justify-content: space-between;
    width: 100%;
    height: 56px;
}

:is(.header-title, .header-right) {
    position: relative;
    flex-basis: 50%;
    height: 56px;
    padding: 0 .5rem;
}

.header-title {
    justify-content: flex-start;
}

header .header-right {
    justify-content: flex-end;
}

:is(.header-title, .header-right) > *:not(last-child) {
    margin-right: .3rem;
}

.searchbar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 44px;
    background: #fff;
    overflow: auto;
    z-index: 99;
}

.searchbar.active {
    display: block;
}

.searchbar-head {
    position: fixed;
    top: 5px;
    left: 0;
    flex-wrap: wrap;
    width: 100%;
    height: 44px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%);
}

.searchbar-head .ibtn {
    --xy: 40px;
    text-transform: none;
    background: transparent;
}

.searchbar-head form {
    position: relative;
    width: calc(100% - 40px);
    height: 100%;
}

.searchbar-head form .s-input {
    position: relative;
    height: 100%;
    width: 100%;
}

.searchbar-head form .s-input input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: .875rem;
}

.searchbar-head form .s-input input:valid ~ button.s-reset {
    display: block;
}

.searchbar-head form .s-input button.s-reset {
    display: none;
    color: #ccc;
    width: 44px;
    outline: none;
    border: none;
    background: transparent;
    height: 100%;
}

.searchbar-head form button.submit {
    position: relative;
    text-transform: none;
    padding: 8px;
    height: 100%;
    width: 44px;
    outline: none;
    border: none;
    background: transparent;
}

.searchbar-head form button.submit::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 2px;
    height: 75%;
    border-radius: 99px;
    background: #ccc;
}

.searchbar-body {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.searchbar-body a {
    width: 100%;
    padding: 1rem 8px;
    font-size: 1rem;
    color: #000;
    text-decoration: none;
    user-select: none;
}

.searchbar-body a:hover {
    background: #ccc;
}

.sidebar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 87vw;
    height: 100%;
    overflow-y: auto;
    z-index: 99;
}

.sidebar.active {
    display: block;
}

.sidebar::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    opacity: 0;
    pointer-events: none;
    transition: all .2s ease;
    z-index: -1;
}

.sidebar.active::before {
    display: block;
    opacity: 1;
    pointer-events: auto;
}

.sidebar .sidebar-content {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;
}

.sidebar.sidebar-open {
    display: block;
}

.sidebar .header-title {
    height: 56px;
    justify-content: flex-start;
    border-bottom: 1px solid #ccc;
}

.sidebar .header-title .fa-xmark {
    font-size: 1rem;
    height: 44px;
    line-height: 44px;
    text-align: center;
}

.sidebar .header-title h1 {
    font-size: 1.875rem;
    height: 44px;
    line-height: 44px;
}

.sidebar a {
    position: relative;
    padding: 12px 16px;
    min-height: 40px;
}

.sidebar .sb-nav {
    justify-content: space-between;
    color: var(--pri-color);
    font-size: .75rem;
}

.sidebar .sb-link {
    font-weight: light;
    color: #000;
    padding: 0 16px;
}

.sidebar .sb-nav::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
}

.sidebar .sb-nav:first-of-type::before {
    display: none;
}

.sidebar .sb-nav span:first-child {
    font-weight: bold;
    text-transform: uppercase;
}

.sidebar .sb-nav span:last-child {
    color: #000;
    text-transform: capitalize;
    text-decoration: underline;
}

.sidebar .sb-link {
    justify-content: flex-start;
}

.sidebar .sb-link i {
    margin-right: .5rem;
}

.olay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 80;
    background: rgba(0,0,0,.5);
    transform: scale(0);
}

.sidebar[class*="sidebar-open"] ~ .olay {
    transform: scale(1);
}

.main {
    position: relative;
    margin-top: 56px;
    overflow: auto;
}

.product-preview {
    position: relative;
    width: 100%;
    padding: 0 .5rem;
}

.product-preview .product-imgs {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.product-imgs .img-wrapper {
    padding: 0 4px;
    flex-shrink: 0;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.product-imgs .img-wrapper img {
    width: 85vw;
    max-width: 450px;
}

.product-info {
    font-family: Roboto, sans-serif, arial;
    margin-top: .3rem;
}

.product-info .store-name {
    display: flex;
    align-items: center;
    font-size: .875rem;
}

.store-name span {
    font-size: .625rem;
    color: rgba(255,255,255,.9);
    background: rgba(0, 50, 255, .9);
    border-radius: 2px;
    padding: 2px 4px;
    margin-right: 4px;
}

.product-info .product-name {
    font-size: 1rem;
    padding: .3rem 0;
}

.product-info .brand {
    font-size: .875rem;
}

.product-info .price {
    display: flex;
    align-items: center;
    padding: .5rem 0;
}

.product-info .price > span {
    font-size: 1.5rem;
    line-height: 1.7rem;
    font-weight: 500;
}

.product-info .price .dsct {
    font-size: 12px;
    line-height: 1rem;
    padding: 0 4px;
}

.product-info .price .dsct del {
    color: rgba(0,0,0,.5);
}

.product-info .price .dsct > span {
    margin-left: 4px;
    padding: 0 1px;
    background: rgb(255,125,0);
    border-radius: 2px;
}

.product-info .avbty-info {
    display: flex;
    align-items: center;
    color: #FF0000;
    font-size: 12px;
}

.product-info .avbty-info .ibtn {
    font-size: .875rem;
}

.product-info .shipping-info {
    font-size: .875rem;
    line-height: 1rem;
}

.product-info .ratings {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.product-info .ratings .rate {
    display: flex;
    flex: 1 0 75vw;
    padding: .5rem 0;
}

.product-info .ratings .rate .ibtn {
    --xy: 2rem;
    font-size: 1.2rem;
}

.product-info .ratings .actions {
    display: flex;
    align-items: center;
}

.product-info .ratings .actions .ibtn {
    font-size: 1.2rem;
}

.location {
    margin-bottom: 1rem;
    padding: 0 .5rem;
}

.location select {
    -webkit-appearance: none;
    width: 100%;
    font-size: 1rem;
    line-height: 1.3rem;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 3px;
    background-color: #fff;
}

.location select:last-child {
    margin-bottom: 0;
}

.location .divider {
    position: relative;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    padding: .5rem 0;
    margin: .3rem 0;
}

.location .divider hr {
    border-collapse: collapse;
}

.location .divider span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 0 .5rem;
}

.location button {
    width: 100%;
    padding: .5rem 0;
    text-align: center;
    color: #fff;
    background: #1123F8;
    border: none;
    outline: none;
    border-radius: 2px;
}

.section {
    margin-top: .5rem;
    background: rgba(0,0,0,.1);
}

.section .section-h {
    position: relative;
    width: inherit;
    font-size: .875rem;
    display: flex;
    align-items: center;
}

.section .section-h span {
    line-height: 1.5rem;
    padding-left: .5rem;
}

.section .section-main {
    padding: .3rem;
    background: #fff;
    border: 1px solid rgba(0,0,0,.1);
}

.delivery-type {
    display: flex;
    align-items: center;
    margin: .5rem 0;
    box-shadow: 0 0 2px rgba(0,0,0,.1);
    border-radius: inherit;
}

.delivery-type .icon {
    padding: 0 1.5rem;
}

.delivery-type .icon .ibtn {
    font-size: 1.5rem;
}

.delivery-type .details p {
    font-size: .875rem;
}

.reviews {
    position: relative;
    min-height: 100px;
}

.noreview {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}

.noreview span {
    font-style: italic;
}

.add-cart  {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 1.5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.1);
    border-radius: 2px;
    z-index: 10;
}

.add-cart .icon {
    display: flex;
    align-items: center;
}

.add-cart .icon > button,
.add-cart > button{
    color: #fff;
    font-weight: bold;
    background: var(--pri-color);
    outline: none;
    border: none;
    text-transform: uppercase;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
    border-radius: 3px;
}

.add-cart .icon {
    width: 30%;
    text-decoration: none;
}

.add-cart .icon .btn {
    height: 2.5rem;
    width: 2.5rem;
    background: #fff;
    color: var(--pri-color);
    border: 1px solid var(--pri-color);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.add-cart .icon .btn i {
    font-size: 2rem;
}

.add-cart button.atc {
    padding: .5rem 2rem;
    display: flex;
    align-items: center;
}

.add-cart button.atc i {
    margin-left: .3rem;
}

.section {
    position: relative;
    width: 100%;
}
.section .items-cont {
    position: relative ;
    width: 100%;
}


.section.s-flex .items-cont {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: none;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.section.s-flex .items-cont::-webkit-scrollbar {
    display: none;
}

.section.s-flex .items-cont .item {
    position: relative;
    width: 40%;
    min-width: 40%;
    max-width: 40%;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    margin: .3rem;
    padding: 4px;
    border: 1px solid rgba(0,0,0,.1);
    scroll-snap-align: start;
    user-select: none;
    border-radius: 4px;
}

.item .item-cover-pic {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 80%;
}

.item .item-cover-pic img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.item .item-info {
    position: relative;
    width: 100%;
}

.item .item-info p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: normal;
    font-size: .75rem;
    line-height: .875rem;
}

.item .item-info .price {
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 700;
}

.footer {
    min-height: 20vh;
    color: #fff;
    background: #000;
    padding: 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer a {
    color: #fff;
    padding: 0 .5rem;
}